In [85]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [86]:
df = pd.read_csv('UpdatedResumeDataSet.csv')
df.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \n MCA   YMCAUST,  Faridabad...

In [87]:
df.Category.value_counts()

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Sales                        40
Data Science                 40
Mechanical Engineer          40
ETL Developer                40
Blockchain                   40
Operations Manager           40
Arts                         36
Database                     33
Health and fitness           30
PMO                          30
Electrical Engineering       30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
Civil Engineer               24
SAP Developer                24
Advocate                     20
Name: count, dtype: int64

In [88]:
max_size=df['Category'].value_counts().max()

print("Original dataframe: \n",df)

balanced_df = df.groupby('Category').apply(lambda x : x.sample(max_size,replace=True)).reset_index(drop=True)

Original dataframe:
          Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \nMay 2013 to May 2017 B.E  ...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \n MCA   YMCAUST,  Faridabad...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\3144656681.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  balanced_df = df.groupby('Category').apply(lambda x : x.sample(max_size,replace=True)).reset_index(drop=True)

In [89]:
df=balanced_df.sample(frac=1).reset_index(drop=True)

In [90]:
df['Category'].value_counts()

Category
Python Developer             84
Operations Manager           84
Automation Testing           84
Blockchain                   84
HR                           84
Java Developer               84
Advocate                     84
Data Science                 84
DevOps Engineer              84
Testing                      84
Mechanical Engineer          84
Network Security Engineer    84
PMO                          84
DotNet Developer             84
SAP Developer                84
Electrical Engineering       84
Hadoop                       84
Database                     84
Arts                         84
Sales                        84
Civil Engineer               84
Business Analyst             84
Web Designing                84
Health and fitness           84
ETL Developer                84
Name: count, dtype: int64

In [91]:
import re

In [92]:
def clean(txt):
    cleanText = re.sub('http\S+\s', ' ', txt)
    cleanText = re.sub('RT|cc', ' ', cleanText)
    cleanText = re.sub('#\S+\s', ' ', cleanText)
    cleanText = re.sub('@\S+', '  ', cleanText)  
    cleanText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', cleanText)
    cleanText = re.sub(r'[^\x00-\x7f]', ' ', cleanText) 
    cleanText = re.sub('\s+', ' ', cleanText)

    return cleanText

df['Resume']=df['Resume'].apply(lambda x: clean(x))

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\]'
<>:8: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\]'
<>:8: SyntaxWarning: invalid escape sequence '\s'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\160341458.py:2: SyntaxWarning: invalid escape sequence '\S'
  cleanText = re.sub('http\S+\s', ' ', txt)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\160341458.py:4: SyntaxWarning: invalid escape sequence '\S'
  cleanText = re.sub('#\S+\s', ' ', cleanText)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\160341458.py:5: SyntaxWarning: invalid escape sequence '\S'
  cleanText = re.sub('@\S+', '  ', cleanText)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\160341458.py:6: SyntaxWarning: invalid escape sequence '\]'
  cleanText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', cleanText)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_67696\160341458.py:8: SyntaxWarning: invalid escape sequence '\s'
  cleanText = re.sub('\s+', ' ', cleanText)

In [96]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df['Category']=le.fit_transform(df['Category'])
df

      Category                                             Resume
0           20  Education Details June 2013 to June 2016 Diplo...
1           18  Education Details August 2000 B E Electronics ...
2            2  SOCIAL SKILLS Ability to establish trust and w...
3            3  SKILLS Bitcoin Ethereum Solidity Hyperledger B...
4           12  Education Details MBA ACN College of engineeri...
...        ...                                                ...
2095        22  SKILLS 1 MS Office 2 Good Communication skills...
2096        16  Education Details May 1999 to September 2002 D...
2097         6  Education Details MCA YMCAUST Faridabad Haryan...
2098        11  Education Details Electrical engineering Skill...
2099         0  Education Details November 2016 to January 201...

[2100 rows x 2 columns]

In [94]:
from sklearn.feature_extraction.text import TfidfVectorizer
ti=TfidfVectorizer(stop_words='english')

req_text = ti.fit_transform(df['Resume'])

In [97]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(req_text,df['Category'],test_size=0.2,random_state=42)

In [104]:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

knn=SVC()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)

print(accuracy_score(y_test,y_pred))

1.0